<h1>Editing Parking Space Selector</h1>

<%= render 'form', parking_space_selector: @parking_space_selector %>

<%= link_to 'Show', @parking_space_selector %> |
<%= link_to 'Back', parking_space_selectors_path %>
