<div class="container">
  <div class="row" id="main">
		
      	<div class="col-lg-12 col-sm-12 col-xs-12" >
	      	<h1>Autospots Computer Vision</h1>
      		<a title="Results" href="#" id="mainimg">
      			<%= image_tag('final.png', :class => "thumbnail img-responsive") %>
      		</a>
      	</div>
          
  	</div>
  	<hr>

	<% @images.each do |image| %>
		<%= link_to image_tag("spots/#{image.split('/').last}", height:'100px'), "/assets/spots/#{image.split('/').last}", data:{ title:"#{image.split('/').last}" , toggle:'lightbox', gallery:'multiimages' }%>
	<% end %>

	<hr>
		<div class="row" id="main">
	    	<div class="col-lg-12 col-sm-12 col-xs-12" >
		    	<h3>Machine Learning Responses</h3>
        		<%= image_tag('output.png', :id => "mainimg", :class => "thumbnail img-responsive") %>
	    	</div>
	    	<div class="col-lg-12 col-sm-12 col-xs-12" >
        		<%= image_tag('predictions.jpg', :id => "mainimg", :class => "thumbnail img-responsive") %>
	    	</div>
	  	</div>
	</div>
</div