// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-md-4 h3 {
  font-family: TransformersMovie;
  font-size: 2.1em;
  text-align: center;
}

.team-icon {
	text-align: center;
}

p {
	padding: 5px 10px 5px 10px;	
}

.bio p {
	padding: 30px 10px 0px 10px;	
	text-align: center;
}

.col-md-10 h3 {
	font-family: 'Rubik Mono One'
}

.tutorial-image {
}