@import "bootstrap";
@import "lightbox-bootstrap";
@import "bootstrap-sprockets";

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 10px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

h1 {
	text-align: "center"
}

img {
  max-width: 100%;
  max-height: 100%;
}

body {
  padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.thumb {
  margin-bottom: 30px;
}

footer {
  margin: 50px 0;
}

.modal-dialog {width:600px;}
.thumbnail {margin-bottom:6px;}
#main {
    text-align: center;
    margin: auto;
    width: 100%;
}
#mainimg {
    display: inline-block;
    *display:inline; /* ie7 fix */
    float: none;
}


/* center fabric canvas */

.canvas-container {
  margin: 0 auto;
}

.strip-text {
  float: left;
}
#parking_space_selectors_content {
  width: 100%;
}