/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap";
@import "lightbox-bootstrap";
@import "bootstrap-sprockets";
@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One|Cormorant+SC');

@font-face {
  font-family: 'TransformersMovie';    
  src: font-url('TransformersMovie.ttf') format('truetype');
  font-weight: normal;  
  font-style: normal;
}

.show-back {
  text-align: center;
}

.ekko-lightbox-nav-overlay a {
  text-decoration: none;
  // color: #fff;
  color: #4286f4;
  opacity: 1;
}

.ekko-lightbox-nav-overlay a:hover {
  background-color: rgba(0,0,0,0);
}

#linktogps {
  padding-top: 20px;
  padding-bottom: 20px;
}

// For table on Parking spaces index

.table-name {
  font-size: 2em;
  font-family: 'Rubik Mono One';
}

.table-data {
  font-size: 1.2em;
}

.table-image {
  width: 100px
}

.table th {
  text-align: center;
}

.table > tbody > tr > td {
  text-align: center;
  vertical-align: middle;
}

/* header */

.nav-link {
  padding-top: 12px;
  font-size: 1.15em;
  font-family: 'Rubik Mono One';
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 10px;
  font-weight: bold;
  font-family: TransformersMovie;
  font-size: 3em;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

h1 {
  text-align: "center";
  font-family: TransformersMovie;
  font-size: 5em;
}

img {
  max-width: 100%;
  max-height: 100%;
}

body {
  padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.thumb {
  margin-bottom: 30px;
}

footer {
  margin: 50px 0;
}

.modal-dialog {width:600px;}
.thumbnail {margin-bottom:6px;}
#main {
    text-align: center;
    margin: auto;
    width: 100%;
}
#mainimg {
    display: inline-block;
    *display:inline; /* ie7 fix */
    float: none;
}


/* center fabric canvas */

.canvas-container {
  margin: 0 auto;
}

.strip-text {
  float: left;
}


.actions {
  padding-top: 20px;
}