// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.background{
	background: url(final.png) no-repeat center center;
	min-height: 100%;
	background-size: cover;
  opacity: .8;
}
div.transbox {
  // opacity:  0.6;
  // background-color: #fff;
  // filter: alpha(opacity=60);
  background: rgba(255, 255, 255, 0.8);
}
div.transbox h1 {
  opacity: 1;
  color: #000;
  font-family: TransformersMovie; 
  font-size: 9em; 
  text-align: center;
}
div.transbox p {
  font-weight: bold;
  color: #000;
  opacity: 1;
  font-family: 'Cormorant SC', sans-serif;
  text-align: center;
}
div.full-width {
  position: absolute;
  width: 100%;
  left: 0;
}

body {
  padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.thumb {
  margin-bottom: 30px;
}

footer {
  margin: 50px 0;
}

.modal-dialog {width:600px;}
.thumbnail {margin-bottom:6px;}
#main {
    text-align: center;
    margin: auto;
    width: 100%;
}
#mainimg {
    display: inline-block;
    *display:inline; /* ie7 fix */
    float: none;
}