<div class="container">
	<div class="col-md-10">
		<h1>Tutorial</h1>

		<h2>Parking lot setup</h2>

		<br><h4>Aquire image url from parking lot stream</h4>
		<p>
			A lot of parking web streams have a static image url you can input that will get the current 
			state of the parking lot. That is what we need to link to in order to continually update what
			parking spots are full or empty.
		</p>
		<p>
			A raspberry pi can easily be configured to serve a image from a camera every so often and the
			url of that image you are updating on the server is the one we need to link to on the setup
			page.
		</p>

		<br><h4>Select a gray spot</h4>
		<p>
		Move the yellow target to hover over a gray spot that is a good representation of the gray
		color of the parking lot. Parking lots depending on the materials used to create them can have
		different
		</p>

		<h2>App</h2>
		<p>
			Open the app, choose a lot and hit Park Me! 
		</p>
		<p>
			It’s as simple that. Skeptical of actual spot availability? Open the main menu and click on View Parking Lot. From there you can choose a lot from the drop-down menu to view the most recently processed image of that lot. Each open spot will be highlighted in green and each taken spot will be highlighted in red. 
		</p>
		<p>
			Want to know what your chances are of getting a parking spot in the Merrill Engineering Building parking lot at 2:30PM on a Tuesday? Head to the main menu and click on Statistics. You can select a parking lot and a day to view statistics for. A fully scalable graph will appear for maximum accuracy. 
		</p>	
		<p>
			Do you only ever park in one parking lot? Open the Preferences menu by clicking on Preferences in the main menu. There you can select your favorite lot and the app will remember where you like to park, thus allowing you to use the Find Nearest Parking Spot button. 
		</p>
	</div>
</div>
