<div class="dialog-body">
  <div class="dialog">
    <div>
      <h1>Our computer vision algorithms are analyzing your parking lot.</h1>
    </div>
    <p>Images are updated every 5 min. Refresh this page in a couple minutes to see the results.</p>
  </div>
</div>
